
<li>
  <div class='teacher-content'>
    <img src='<perch:content id="teacher_image" type="image" label="Teacher Image (Large):" width="387" height="509" crop="true" required="true" />'>
    <div class='bio'>
      <h2>
        <perch:content id="teacher_name" type="text" label="Name:" required="true" />
      </h2>
      <perch:content id="teacher_bio" type="textarea" label="Teacher Bio:" markdown="true" editor="markitup"/>
    </div>
  </div>
  <!--  <perch:content id="teacher_image_thumb" type="image" label="teacher_image" width="190" height="190" crop="true" required="true" /> -->
</li>
